<div class="ui container">
    <div class="ui stackable grid">
        <div class="four wide column">
            <div class="ui pointing fluid vertical menu">
                <a class="item" routerLink="stories">
                    My nice things
                    <div class="ui label">17</div>
                </a>
                <a class="item" href="#">
                    My tree
                </a>
                <a class="item" href="#">
                    My map
                </a>
                <a class="item" routerLink="friends">
                    My friends
                    <div class="ui label">5</div>
                </a>
                <a class="item" routerLink="requests">
                    Friend Requests
                    <div class="ui label">5</div>
                </a>
                <a class="item" routerLink="favorites">
                    My favorite
                    <div class="ui label">23</div>
                </a>
                <a class="item" routerLink="chat">
                    Chat
                    <div class="ui label">23</div>
                </a>
            </div>
        </div>
        <div class="twelve wide column">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>