<div class="twelve wide column">
    <h3>Settings</h3>
    <form class="ui form" [formGroup]="upgradeUserForm" (ngSubmit)="upgradeUser($event)" *ngIf="isAnonymous">
        <div class="two fields">
            <div class="field">
                <label>First name</label>
                <input type="text" placeholder="First name" formControlName="firstname" [(ngModel)]="user.firstname" name="firstname">
                <div *ngIf="formErrors.firstname" class="ui negative message">
                    {{ formErrors.firstname }}
                </div>
            </div>
            <div class="field">
                <label>Last name</label>
                <input type="text" placeholder="Last name" formControlName="lastname" [(ngModel)]="user.lastname" name="lastname">
                <div *ngIf="formErrors.lastname" class="ui negative message">
                    {{ formErrors.lastname }}
                </div>
            </div>
        </div>
        <div class="field">
            <label>Username</label>
            <input type="text" placeholder="Username" formControlName="username" [(ngModel)]="user.username" name="username">
            <div *ngIf="formErrors.username" class="ui negative message">
                {{ formErrors.username }}
            </div>
        </div>
        <div class="field ">
            <div class="file-upload">
                <span class="text">Profile image</span>
                <input id="custom-input" type="file" (change)="fileChangeListener($event)">
            </div>
            <img-cropper #cropper [image]="data" [settings]="cropperSettings" (onCrop)="cropped($event)"></img-cropper>
            <br>
            <span class="result rounded" *ngIf="data.image">
                <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
            </span>
        </div>
        <div class="field">
            <label>Email</label>
            <input type="email" placeholder="Email" formControlName="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
                [(ngModel)]="user.email" name="email">
            <div *ngIf="formErrors.email" class="ui negative message">
                {{ formErrors.email }}
            </div>
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" placeholder="Password" formControlName="password" [(ngModel)]="user.password" name="password">
            <div *ngIf="formErrors.password" class="ui negative message">
                {{ formErrors.password }}
            </div>
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox">
                <label>Public account ?</label>
            </div>
        </div>
        <div class="field">
            <button class="ui green button" type="submit" [disabled]="!upgradeUserForm.valid">Upgrade Account</button>
        </div>
        <div class="ui message {{classCondition ? 'positive': 'negative'}}" *ngIf="message">
            <p>{{message}}</p>
        </div>
    </form>
    <form class="ui form" (ngSubmit)="updateUser($event)" *ngIf="!isAnonymous">
        <div class="two fields">
            <div class="field">
                <label>First name</label>
                <input type="text" placeholder="Firstname" [(ngModel)]="user.firstname" name="firstname">
            </div>
            <div class="field">
                <label>Last name</label>
                <input type="text" placeholder="Lastname" [(ngModel)]="user.lastname" name="lastname">
            </div>
        </div>
        <div class="field">
            <label>Username</label>
            <input type="text" placeholder="Username" [(ngModel)]="user.username" name="username">
        </div>
        <div class="field ">
            <div class="file-upload">
                <span class="text">Profile image</span>
                <input id="custom-input" type="file" (change)="fileChangeListener($event)">
            </div>
            <img-cropper #cropper [image]="data" [settings]="cropperSettings" (onCrop)="cropped($event)"></img-cropper>
            <br>
            <span class="result rounded" *ngIf="data.image">
                <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
            </span>
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox">
                <label>Public account ?</label>
            </div>
        </div>
        <div class="field">
            <button class="ui green button" type="submit">Save</button>
        </div>
        <div class="ui message {{classCondition ? 'positive': 'negative'}}" *ngIf="message">
            <p>{{message}}</p>
        </div>
    </form>
</div>