<div class="ui container">
    <div class="ui four stackable cards">
        <div class="card" *ngFor="let story of stories | async">
            <div class="extra content">
                <div class="right floated meta">14h</div>
                <img class="ui avatar image" src="assets/img/elliot.jpg"> Elliot
            </div>
            <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted button">read more</div>
                        </div>
                    </div>
                </div>
                <img src="assets/img/image.png">
            </div>
            <div class="content">
                <p>{{story.thing}}</p>
                <p class="meta">
                    <span>
						<i class="quote left icon"></i> {{story.feel}}
					</span>
                </p>
                <p class="meta">
                    <span>
					    <i class="location arrow icon"></i> {{story.location}}
					</span>
                </p>
            </div>
            <div class="extra content">
                <span class="right floated">
					<i class="heart outline like icon"></i> 17
				</span>
                <i class="calendar icon"></i> May 26th at 1:18pm
            </div>
        </div>
    </div>
</div>