<!-- <div class="ui container">
    <div class="jumbotron">
        <img class="ui fluid image" src="assets/img/home.png">
    </div>
</div>
<div class="well">
    <div class="ui container">
        <div class="text-center text-medium">
            <p>If you do something nice for someone and ask them to do the same...</p>
            <p>How far it will go? <a routerLink="stories">Let's find out</a></p>
        </div>
    </div>
</div>
<div class="ui container">
    <div class="ui stackable grid">
        <div class="one wide column"></div>
        <div class="five wide column">
            <img class="ui fluid image" src="assets/img/animate.gif">
        </div>
        <div class="nine wide column">
            <div class="vertical-middle">
                <div class="vertical-middle-item">
                    <div class="text-center text-medium">
                        <p>Want to report a nice thing you've done?</p>
                        <p>Does helping others really make the world a better place?</p>
                        <a class="ui yellow button" routerLink="addstory">here</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="one wide column"></div>
    </div>
</div> -->
<div class="well">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="ten wide column">
                <img class="ui fluid image" src="assets/img/home.png">
                <div class="text-center text-medium">
                    <p>If you do something nice for someone and ask them to do the same...</p>
                    <p>How far it will go? <a routerLink="stories">Let's find out</a></p>
                </div>
            </div>
            <div class="six wide column">
            </div>
        </div>
    </div>
</div>