<div class="ui container">
    <div class="ui stackable grid">
        <div class="four wide column"></div>
        <div class="eight wide column">
            <form class="ui form" [formGroup]="registerForm" (ngSubmit)="registerUser($event)">
                <h3>Register</h3>
                <div class="field">
                    <label>Username</label>
                    <input type="text" placeholder="Username" required formControlName="username" [(ngModel)]="user.username" name="username">
                    <div *ngIf="formErrors.username" class="ui negative message">
                        {{ formErrors.username }}
                    </div>
                </div>
                <div class="field ">
                    <label>Profile image</label>
                    <div class="file-upload ">
                        <input id="cust" type="file" name="imageURL " image-upload (imageSelected)="selected($event)" [resizeOptions]="resizeOptions">
                    </div>
                    <img [src]="src" [hidden]="!src" *ngIf="!isProgressed"><br>
                    <div class="ui active centered inline loader" *ngIf="isProgressed"></div>
                </div>

                <div class="field">
                    <label>Firstname</label>
                    <input type="text" placeholder="Firstname" formControlName="firstname" required [(ngModel)]="user.firstname" name="firstname">
                    <div *ngIf="formErrors.firstname " class="ui negative message ">
                        {{ formErrors.firstname }}
                    </div>
                </div>
                <div class="field">
                    <label>Lastname</label>
                    <input type="text" placeholder="Lastname" formControlName="lastname" required [(ngModel)]="user.lastname" name="lastname">
                    <div *ngIf="formErrors.lastname " class="ui negative message ">
                        {{ formErrors.lastname }}
                    </div>
                </div>
                <div class="field">
                    <label>Location</label>
                    <input type="text" placeholder="Location" formControlName="location" required name="location" autocorrect="off" autocapitalize="off" spellcheck="off" #search>
                    <div *ngIf="formErrors.location" class="ui negative message">
                        {{ formErrors.location }}
                    </div>
                </div>
                <div class="field ">
                    <label>Email</label>
                    <input type="email" placeholder="Email" formControlName="email" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" [(ngModel)]="user.email " name="email ">
                    <div *ngIf="formErrors.email " class="ui negative message ">
                        {{ formErrors.email }}
                    </div>
                </div>

                <div class="field ">
                    <label>Password</label>
                    <input type="password" placeholder="Password" required minlength="6" formControlName="password" [(ngModel)]="user.password " name="password ">
                    <div *ngIf="formErrors.password " class="ui negative message ">
                        {{ formErrors.password }}
                    </div>
                </div>
                <div class="field ">
                    <button class="ui fluid green button" type="submit" [disabled]="!registerForm.valid">Register</button>
                </div>
            </form>
            <div class="ui horizontal divider ">Or</div>
            <a class="ui inverted green button " (click)="loginWithGuest() ">Login as guest</a>
            <a class="ui facebook button " (click)="loginWithFacebook() ">Facebook</a>
            <a class="ui google plus button " (click)="loginWithGoogle() ">Google +</a>
            <div class="ui negative message " *ngIf="error ">
                <p>{{error.message}}</p>
            </div>
        </div>
        <div class="four wide column "></div>
    </div>
</div>