<div class="ui container">
    <div class="ui stackable grid">
        <div class="four wide column"></div>
        <div class="eight wide column">
            <h2>Reset Password</h2>
            <form class="ui form" #formData='ngForm' (ngSubmit)="onSubmit(formData)">
                <div class="field">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="e.g email@address.com" (ngModel)="email" required>
                </div>
                <div class="field">
                    <button class="ui fluid green button" type="submit" [disabled]="!formData.valid">Submit</button>
                </div>
            </form>
            <div class="ui positive message" *ngIf="message">
                <p>{{message}}</p>
            </div>
            <div class="ui negative message" *ngIf="error">
                <p>{{error.message}}</p>
            </div>
        </div>
        <div class="four wide column"></div>
    </div>
</div>