<div class="ui container">
    <div class="ui stackable grid">
        <div class="four wide column">
            <div class="ui pointing fluid vertical menu">
                <a class="item" href="mythings.htm">
							My nice things
							<div class="ui label">17</div>
						</a>
                <a class="item" href="#">
							My tree
						</a>
                <a class="item" href="#">
							My map
						</a>
                <a class="item" href="friends.htm">
							My friends
							<div class="ui label">5</div>
						</a>
                <a class="item" href="favorite.htm">
							My favorite
							<div class="ui label">23</div>
						</a>
            </div>
        </div>
        <div class="twelve wide column">
            <div class="ui three stackable cards">
                <div class="ui card">
                    <div class="content">
                        <div class="header">
                            <div class="text-center">
                                <p>23</p>
                            </div>
                        </div>
                        <div class="meta">
                            <div class="text-center">
                                <p>Nice things directed from you</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="content">
                        <div class="header">
                            <div class="text-center">
                                <p>35</p>
                            </div>
                        </div>
                        <div class="meta">
                            <div class="text-center">
                                <p>Nice things originated from you</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui card">
                    <div class="content">
                        <div class="header">
                            <div class="text-center">
                                <p>270</p>
                            </div>
                        </div>
                        <div class="meta">
                            <div class="text-center">
                                <p>Miles of nice thing done from you</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>