<div class="twelve wide column">
    <h3>Change Password</h3>
    <form class="ui form" [formGroup]="changepassForm" (ngSubmit)="updatePassword($event,password.value,currentpassword.value)">
        <div class="field">
            <label>Current password</label>
            <input #currentpassword type="password" name="password" formControlName="password" required placeholder="Current password">
            <div *ngIf="formErrors.password" class="ui negative message">
                {{ formErrors.password }}
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>New password</label>
                <input #password type="password" formControlName="newpassword" validateEqual="confirmpassword" reverse="true" name="newpassword" required placeholder="New password">
            </div>
            <div class="field">
                <label>Confirm new password</label>
                <input type="password" formControlName="confirmpassword" validateEqual="newpassword" name="confirmpassword" required placeholder="Confirm password">
            </div>
        </div>
        <div *ngIf="formErrors.confirmpassword" class="ui negative message">
            Password mismatch
        </div>
        <div *ngIf="formErrors.newpassword" class="ui negative message">
            {{ formErrors.newpassword }}
        </div>
        <div class="field">
            <button class="ui green button" [disabled]="!changepassForm.valid" type="submit">Save</button>
        </div>
        <div class="ui message {{classCondition ? 'positive': 'negative'}}" *ngIf="message">
            <p>{{message}}</p>
        </div>
    </form>
</div>