<div class="twelve wide column">
    <h3>Change Password</h3>
    <form class="ui form" (ngSubmit)="updatePassword($event,password.value,currentpassword.value)">
        <div class="field">
            <label>Current password</label>
            <input #currentpassword type="password" placeholder="Current password">
        </div>
        <div class="two fields">
            <div class="field">
                <label>New password</label>
                <input #password type="password" placeholder="New password">
            </div>
            <div class="field">
                <label>Confirm new password</label>
                <input type="password" placeholder="Confirm password">
            </div>
        </div>
        <div class="field">
            <button class="ui green button" type="submit">Save</button>
        </div>
        <div class="ui message {{classCondition ? 'positive': 'negative'}}" *ngIf="message">
            <p>{{message}}</p>
        </div>
    </form>
</div>