<div class="ui container">
    <div class="ui stackable grid">
        <div class="ten wide column">
            <div class="middle">
                <h3>About us</h3>
                <p>Does helping others really make the world a better place? Do random acts of kindness create any positive impact on the lives of others? We think so, but wanted to find a way to prove it.</p>
                <p>We developed this site to find out just how far One Nice Thing can go, and the impact it can have on the people that it touches.</p>
                <div class="text-center">
                    <a class="ui inverted green button" routerLink="/work">How it Works</a>
                    <a class="ui inverted green button" routerLink="/contact">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="six wide column">
            <img class="ui fluid image" src="assets/img/about.png">
        </div>
    </div>
</div>