<div class="ui segment" style="width:100%; height:500px;background-color:#F5F8FA">
    <div class="ui active inverted dimmer">
        <div class="tree" style="height:inherit" drag-scroll scrollbar-hidden="true" *ngIf="myData">
            <ul class="active">
                <li>
                    <a>
                        <img src="../../../assets/img/elliot.jpg">
                        <span>{{myData.email}}</span>
                    </a>
                    <ul class="active">
                        <li *ngFor="let user of subTousers" (click)="showTouser(user)" class="{{user.$key}}">
                            <a>
                                <img src="../../../assets/img/elliot.jpg">
                                <span>{{user.email}}</span>
                            </a>
                            <ul class="active">

                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>