<div class="ui container">
    <div class="ui four stackable cards" *ngIf="!isCounter">
        <div class="card" *ngFor="let story of stories">
            <div class="extra content">
                <img class="ui avatar image" *ngIf=" (story.user | async)?.photoURL" src="{{ (story.user | async)?.photoURL }}">
                <img class="ui avatar image" *ngIf=" !(story.user | async)?.photoURL" src="../../../assets/img/elliot.jpg">
                <a routerLink="/user/{{ (story.user | async)?.$key }}" *ngIf="(story.user | async)?.username">{{ (story.user | async)?.username }}</a>
                <a routerLink="/user/{{ (story.user | async)?.$key }}" *ngIf="!(story.user | async)?.username">{{ (story.user | async)?.email }}</a>
            </div>
            <div class="blurring dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <a class="ui inverted button" routerLink="/stories/{{ story.$key }}">read more</a>
                        </div>
                    </div>
                </div>
                <img *ngIf="story.imageURL" routerLink="/stories/{{ story.$key }}" src="{{ story.imageURL }}" style="height:150px">
                <img *ngIf="!story.imageURL" routerLink="/stories/{{ story.$key }}" src="../../../assets/img/image.png" style="height:150px">
            </div>
            <div class="content">
                <p routerLink="/stories/{{ story.$key }}">{{ story.story }}</p>
                <p class="meta">
                    <span>
						<i class="quote left icon"></i> {{ story.feeling }}
					</span>
                </p>
                <p class="meta">
                    <span>
					    <i class="location arrow icon"></i> {{ (story.location)?.name }}
					</span>
                </p>
            </div>
            <div class="extra content">
                <span class="right floated">
					<i class="heart red like icon" *ngIf="user && story.favorited" (click)="storyService.removeFavorite(story.$key)"></i>
                    <i class="heart outline like icon" *ngIf="user && !story.favorited" (click)="storyService.addFavorite(story.$key)"></i>
                    <i class="heart outline like icon" *ngIf="!user"></i> 
                    {{ story.favorite }}
				</span>
                <i class="calendar icon"></i> {{ story.created_at | date:'MMM dd, hh:mma'}}
            </div>
        </div>
    </div>
    <div class="ui one column stackable center aligned page grid" *ngIf="isCounter">
        <div class="column sixteen wide">
            No stories yet
        </div>
    </div>
    <div class="search-results" *ngIf="queryable" infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (scrolled)="scrolled()">
        <div class="ui active centered inline loader"></div>
    </div>
</div>