<div class="ui container">
    <div class="ui stackable grid">
        <div class="four wide column"></div>
        <div class="eight wide column">
            <h3>Reset Password</h3>
            <form class="ui form" [formGroup]="resetForm" (ngSubmit)="onSubmit(email.value)">
                <div class="field">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="e.g email@address.com" (ngModel)="email" #email formControlName="email" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                    <div *ngIf="formErrors.email" class="ui negative message">
                        {{ formErrors.email }}
                    </div>
                </div>
                <div class="field">
                    <button class="ui fluid green button" type="submit" [disabled]="!resetForm.valid">Submit</button>
                </div>
            </form>
            <div class="ui positive message" *ngIf="message">
                <p>{{message}}</p>
            </div>
            <div class="ui negative message" *ngIf="error">
                <p>{{error.message}}</p>
            </div>
        </div>
        <div class="four wide column"></div>
    </div>
</div>