<div class="ui three stackable cards">
    <div class="ui card">
        <div class="content">
            <div class="header">
                <div class="text-center">
                    <p>23</p>
                </div>
            </div>
            <div class="meta">
                <div class="text-center">
                    <p>Nice things directed from you</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">
                <div class="text-center">
                    <p>35</p>
                </div>
            </div>
            <div class="meta">
                <div class="text-center">
                    <p>Nice things originated from you</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">
                <div class="text-center">
                    <p>270</p>
                </div>
            </div>
            <div class="meta">
                <div class="text-center">
                    <p>Miles of nice thing done from you</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="google-map">
    <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [zoomControl]="false" sebmGoogleMapFitContents [usePanning]="true" [disableDefaultUI]="true">
        <div *ngFor="let story of objects">
            <sebm-google-map-marker [latitude]=" story.location.latitude " [longitude]="story.location.longitude ">
                <sebm-google-map-info-window>
                    <div class="infowindow ">
                        <div class="card">
                            <div class="content">
                                <p routerLink="/stories/{{ story.$key }}">{{ story.story }}</p>
                                <p class="meta">
                                    <span>
                                        <i class="quote left icon"></i> {{ story.feeling }}
                                    </span>
                                </p>
                                <p class="meta">
                                    <span>
                                        <i class="location arrow icon"></i> {{ story.location?.name }}
                                    </span>
                                </p>
                            </div>
                            <div class="extra content">
                                <i class="calendar icon"></i> {{ story.created_at | date:'MMM dd, hh:mma'}}
                            </div>
                        </div>
                    </div>
                </sebm-google-map-info-window>
            </sebm-google-map-marker>
        </div>
    </sebm-google-map>
</div>