<div class="ui three stackable cards">
    <div class="ui card" *ngFor="let user of users">
        <div class="image">
            <img [src]="(user | async)?.photoURL">
        </div>
        <div class="content">
            <a class="header" routerLink="/user/{{ (user | async)?.$key }}">{{ (user | async)?.username }}</a>
            <div class="meta">
                <span class="date">Joined on {{ (user | async)?.created_at | date:'MMM dd'}}</span>
            </div>
        </div>
        <div class="extra content">
            <a>
                <i class="comments outline icon"></i> Chat
            </a>
        </div>
    </div>
</div>