<div class="ui three stackable cards" *ngIf="!isCounter">
    <div class="ui card" *ngFor="let user of users">
        <div class="image">
            <img *ngIf=" (user| async)?.photoURL" src="{{ (user | async)?.photoURL }}">
            <img *ngIf=" !(user | async)?.photoURL" src="../../../assets/img/elliot.jpg">
        </div>
        <div class="content">
            <a class="header" routerLink="/user/{{ (user | async)?.$key }}">{{ (user | async)?.username }}</a>
            <div class="meta">
                <span class="date">Joined on {{ (user | async)?.created_at | date:'MMM dd'}}</span>
            </div>
        </div>
        <div class="extra content">
            <a>
                <i class="comments outline icon"></i> Chat
            </a>
        </div>
    </div>
</div>
<div class="ui stackable center aligned page grid" *ngIf="isCounter">
    <div class="column sixteen wide">
        No friends yet
    </div>
</div>
<!--<div class="search-results" *ngIf="queryable" infinite-scroll [infiniteScrollDistance]="1.5" [infiniteScrollThrottle]="500" (scrolled)="scrolled()">
    <div class="ui active centered inline loader"></div>
</div>-->