<div class="ui segment chat">
    <div class="ui stackable grid">
        <div class="six wide column chat-list">
            <div class="ui form">
                <div class="field">
                    <input autocomplete="off" ng2-auto-complete name="touser" (valueChanged)="valueChanged($event)" [source]="users" [list-formatter]="autocompleListFormatter" value-property-name="id" display-property-name="email" placeholder="Search...">
                </div>
            </div>
            <div class="ui divided list">
                <div class="item" *ngFor="let thread of threads" (click)="getMessages(thread)">
                    <img class="ui avatar image" src="assets/img/elliot.jpg">
                    <div class="content">
                        <div class="header" *ngIf="thread.name">
                            <p>{{thread.name}}</p>
                        </div>
                        <div class="header" *ngIf="!thread.name">
                            <p>{{thread.$key}}</p>
                        </div>
                        <div class="description">
                            <p>{{thread.lastMessage}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ten wide column chat-action" *ngIf="this.receiver">
            <h3>{{ receiver.name }}</h3>
            <div class="ui divider"></div>
            <div class="conversation" #scrollMe>
                <div class="ui aligned list">
                    <div class="item" *ngFor="let message of userMessages">
                        <div class="content" *ngIf="!isMe(message.name)">
                            <img class="ui avatar image" src="assets/img/elliot.jpg">
                            <div class="ui horizontal label">
                                {{ message.message }}
                            </div>
                        </div>
                        <div class="right floated content" *ngIf="isMe(message.name)">
                            <div class="ui horizontal blue label">
                                {{ message.message }}
                            </div>
                        </div>
                    </div>
                    <div class="comment" *ngIf="userMessages.length == 0">
                        No messages
                    </div>
                    <div class="item" *ngIf="!userMessages.length == 0">
                        <div class="right floated content" *ngIf="isRead">
                            <i class="checkmark icon"></i>Seen
                        </div>
                    </div>
                </div>
            </div>
            <form class="ui reply form">
                <div class="field">
                    <div class="ui fluid action input">
                        <input autocomplete="off" type="text" name="message" (keyup.enter)="chatSend($event.target.value)" [(ngModel)]="msgVal">
                        <div class="ui primary button" (click)="chatSend(msgVal)">Send</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>