<div class="ui container">
    <div class="ui stackable grid">
        <div class="ten wide column">
            <div class="middle">
                <h3>{{ title }}</h3>
                <p>{{ content1 }}</p>
                <p>{{ content2 }}</p>
                <div class="text-center">
                    <a class="ui inverted green button" routerLink="/howitworks">How it Works</a>
                    <a class="ui inverted green button" routerLink="/contact">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="six wide column">
            <img class="ui fluid image" src="assets/img/about.png">
        </div>
    </div>
</div>