<div class="tree">
    <ul class="active">
        <li *ngFor="let node of treeData" (click)="toggleChildren(node)">
            <div *ngIf="node.imageURL" class="image" [ngStyle]="{'background-image': 'url(' + node.imageURL + ')'}"></div>
            <div *ngIf="!node.imageURL" class="image" style="background-image:url('assets/img/elliot.jpg')"></div>
            <a>{{node.email}}</a>
            <app-treelist [treeData]="node.children" [userIDs]="userIDs"></app-treelist>
        </li>
    </ul>
</div>