<div class="well">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="ten wide column">
                <img class="ui fluid image" src="assets/img/home.png">
                <div class="text-center text-medium">
                    <p>If you do something nice for someone and ask them to do the same...</p>
                    <p>How far it will go? <a routerLink="stories">Let's find out</a></p>
                </div>
            </div>

            <div class="six wide column segment">
                <div class="text-center text-medium">
                    <p>Want to report a nice thing you've done?</p>
                    <p>Does helping others really make the world a better place?</p>
                </div>
                <div class="ui raised segment">
                    <span class="ui green ribbon label">Tell your story to one you know :)</span>
                    <p></p>
                    <form [formGroup]="storyForm" class="ui form" (ngSubmit)='storeStory($event)'>
                        <div class="ui tab active" data-tab="first">
                            <div class="field">
                                <label>Username Lookup</label>
                                <input autocomplete="off" ng2-auto-complete name="touser" required (ngModelChange)="checkTouserEmpty($event)" formControlName="touser" required (valueChanged)="valueChanged($event)" [source]="users" [list-formatter]="autocompleListFormatter" value-property-name="id"
                                    display-property-name="email" placeholder="Search email">
                                <div *ngIf="formErrors.touser" class="ui negative message">
                                    {{ formErrors.touser }}
                                </div>
                            </div>

                            <div class="field">
                                <button class="ui green button tab-button" data-tab="second" [disabled]="!isEmpty1">Next</button>
                            </div>
                            <div class="wizard">
                                <span class="wizard-item active"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                            </div>
                        </div>
                        <div class="ui tab" data-tab="second">
                            <div class="field">
                                <label>Location where did you do your nice thing ?</label>
                                <input placeholder="Enter Location" formControlName="location" (ngModelChange)="checkLocationEmpty($event)" required autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                                <div *ngIf="formErrors.location" class="ui negative message">
                                    {{ formErrors.location }}
                                </div>
                            </div>
                            <div class="field">
                                <a class="ui button tab-button" data-tab="first">Back</a>
                                <button class="ui green button tab-button" data-tab="third" [disabled]="!isEmpty2">Next</button>
                            </div>
                            <div class="wizard">
                                <span class="wizard-item"></span>
                                <span class="wizard-item active"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                            </div>
                        </div>
                        <div class="ui tab" data-tab="third">
                            <div class="field">
                                <label>What nice thing did you do ?</label>
                                <textarea rows="2" placeholder="What did you do ?" formControlName="story" (ngModelChange)="checkStoryEmpty($event)" required name="story" [(ngModel)]="model.story"></textarea>
                                <div *ngIf="formErrors.story" class="ui negative message">
                                    {{ formErrors.story }}
                                </div>
                            </div>
                            <div class="field">
                                <a class="ui button tab-button" data-tab="second">Back</a>
                                <button class="ui green button tab-button" data-tab="fourth" [disabled]="!isEmpty3">Next</button>
                            </div>
                            <div class="wizard">
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item active"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                            </div>
                        </div>
                        <div class="ui tab" data-tab="fourth">
                            <div class="field">
                                <label>Who did you do it for ?</label>
                                <input type="text" placeholder="Who did you do it for ?" formControlName="name" (ngModelChange)="checkNameEmpty($event)" required name="name" [(ngModel)]="model.name">
                                <div *ngIf="formErrors.name" class="ui negative message">
                                    {{ formErrors.name }}
                                </div>
                            </div>
                            <div class="field">
                                <a class="ui button tab-button" data-tab="third">Back</a>
                                <button class="ui green button tab-button" data-tab="fifth" [disabled]="!isEmpty4">Next</button>
                            </div>
                            <div class="wizard">
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item active"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                            </div>
                        </div>
                        <div class="ui tab" data-tab="fifth">
                            <div class="field">
                                <label>How did you respond, how did you feel ?</label>
                                <input type="text" placeholder="How did you feel ?" name="feeling" formControlName="feeling" (ngModelChange)="checkFeelingEmpty($event)" required [(ngModel)]="model.feeling ">
                                <div *ngIf="formErrors.feeling" class="ui negative message">
                                    {{ formErrors.feeling }}
                                </div>
                            </div>
                            <div class="field">
                                <a class="ui button tab-button" data-tab="fourth">Back</a>
                                <button class="ui green button tab-button" data-tab="sixth" [disabled]="!isEmpty5">Next</button>
                            </div>
                            <div class="wizard">
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item active"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                            </div>
                        </div>
                        <div class="ui tab" data-tab="sixth">
                            <div class="field ">
                                <label>Would you like to leave any other message for this member ?</label>
                                <textarea rows="2 " placeholder="Any message " name="message" [(ngModel)]="model.message" [ngModelOptions]="{standalone: true}"></textarea>
                            </div>
                            <div class="field">
                                <a class="ui button tab-button" data-tab="fifth">Back</a>
                                <a class="ui green button tab-button" data-tab="seventh">Next</a>
                            </div>
                            <div class="wizard">
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item active"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                            </div>
                        </div>
                        <div class="ui tab" data-tab="seventh">
                            <div class="field ">
                                <label>Image</label>
                                <div class="file-upload ">
                                    <input id="cust" type="file" name="imageURL " image-upload (imageSelected)="selected($event)" [resizeOptions]="resizeOptions">
                                </div>
                                <img [src]="src" [hidden]="!src" *ngIf="!isProgressed"><br>
                                <div class="ui active centered inline loader" *ngIf="isProgressed"></div>
                            </div>
                            <div class="field">
                                <a class="ui button tab-button" data-tab="sixth">Back</a>
                                <a class="ui green button tab-button" data-tab="eighth">Next</a>
                            </div>
                            <div class="wizard">
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item active"></span>
                                <span class="wizard-item"></span>
                            </div>
                        </div>
                        <div class="ui tab" data-tab="eighth">
                            <div class="field ">
                                <label>Privacy</label>
                                <select name="privacy " class="ui dropdown" formControlName="privacy" (ngModelChange)="checkPrivacyEmpty($event)" [(ngModel)]="model.privacy">
                                    <option value="">Privacy</option>
                                    <option value="1">Only me</option>
                                    <option value="2">Friends</option>
                                    <option value="3">Public</option>
                                </select>
                                <div *ngIf="formErrors.privacy" class="ui negative message">
                                    {{ formErrors.privacy }}
                                </div>
                            </div>
                            <div class="field">
                                <a class="ui button tab-button" data-tab="seventh">Back</a>
                                <button class="ui green button" type="submit" [disabled]="!isEmpty6">Finish</button>
                            </div>
                            <div class="wizard">
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item"></span>
                                <span class="wizard-item active"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>