  .file-upload {
      height: 40px;
      width: 100%;
      position: relative;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #FFF;
      overflow: hidden;
      background-image: linear-gradient(to bottom, #21BA45 50%, #FFFFFF 50%);
      background-size: 100% 200%;
      transition: all 1s;
      color: #FFF;
  }
  
  input[type='file'] {
      height: 25px;
      width: 100px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
  }