<div class="ui three stackable cards">
    <div class="ui card">
        <div class="content">
            <div class="header">
                <div class="text-center">
                    <p>23</p>
                </div>
            </div>
            <div class="meta">
                <div class="text-center">
                    <p>Nice things directed from you</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">
                <div class="text-center">
                    <p>35</p>
                </div>
            </div>
            <div class="meta">
                <div class="text-center">
                    <p>Nice things originated from you</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">
                <div class="text-center">
                    <p>270</p>
                </div>
            </div>
            <div class="meta">
                <div class="text-center">
                    <p>Miles of nice thing done from you</p>
                </div>
            </div>
        </div>
    </div>
</div>